.ethical-commitments {
  color: var(--greyscaletext-0, #fff);
  /* WEB/H2/BLACK */
  font-family: "Londrina Solid";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
